*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}


.container {
    width: 100%;
    min-height: 100vh;
    background-color: #feca57;
    padding: 10px;
}

.to-do-App{
    width: 100%;
    max-width: 550px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do-App h2{
    color: #2D3436;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do-App img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}
#input-box{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
    font-weight: 14px;
}

button{
   border: none;
   outline: none;
   background-color: #ff9f43;
   color: #fff;
   font-size: 16px;
   padding: 17px 50px;
   border-radius: 10px;
   cursor: pointer;
}


ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('img/images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url('img/images/checked.png');
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 23px;
    text-align: center;
    line-height: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 5px;
}